# Couchbase Enterprise Analytics connection
CB_ANALYTICS_HOST=localhost
CB_ANALYTICS_MGMT_PORT=8091
CB_ANALYTICS_ANALYTICS_PORT=8095
CB_ANALYTICS_USERNAME=Administrator
CB_ANALYTICS_PASSWORD=password

# TLS (set to true for encrypted clusters)
CB_ANALYTICS_TLS=false
CB_ANALYTICS_VERIFY_SSL=true

# Request behaviour
CB_ANALYTICS_TIMEOUT_SECONDS=60.0
CB_ANALYTICS_MAX_RETRIES=3
